header {
  background-image: url("wooden-floor-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
h1 {
  font-family: Arial;
  text-align: center;
  font-size: 50px;
  color: black;
}
h2 {
  font-family: Arial;
  text-align: center;
  font-size: 40px;
  color: black;
}
h3{
  font-size: 30px;
  color: black;
  padding: 0;
}
.navbar {
  overflow: hidden;
  background-color: saddlebrown;
  font-family: arial;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding: 14px 16px;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: tan;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: saddlebrown;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: tan;
}
.dropdown:hover .dropdown-content {
  display: block;
}
form.search {
  padding: 0px;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
background: #f1f1f1;
}
form.search button {
float: right;
width: 20%;
padding: 10px;
background: tan;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}
form.search button:hover {
  background: saddlebrown;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
#img1 {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 55px;
}
#img2 {
  position: absolute;
  top: 0;
  right: 0%;
  padding-top: 50px;
}
img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-family: serif;
  font-weight: bold;
  text-align: center;
  font-size: 48pt;
}
#img3 {
  position: absolute;
  bottom: 28%;
  left: 0;
}
#img4 {
  position: absolute;
  bottom:28%;
  right: 0%;
}
nav ul {
  display: flex;
  justify-content:center;
  list-style: none;
  padding: 10px;
  margin: 0;
}
body {
  background-image: url("11469007.png");
  background-size: cover;
  padding-top: 0px;
  font-family: verdana, arial, sans-serif;
  background-color: tan;
  color: black;
}
a {
  display: block;
  padding: 40pt;
  background-color: saddlebrown;
  border-radius: 12px;
}
#a1 {
  display: block;
  background-color: saddlebrown;
  border-radius: 12px;
  text-align: center;
}
a:link {
  color: whitesmoke;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
#li1 {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
}
#li2 {
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 24px;
}
#li3 {
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 24px;
}
#img5 {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
  float: inherit;
}
li a {
  display: block;
}
#ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 0;
  text-align: center;
  font-size: 24pt;
}
#li4 {
  padding-bottom: 20pt;
  padding-left: 80pt;
  padding-right: 80pt;
  padding-top: 0pt;
}
#li5 {
  padding-bottom: 20pt;
  padding-left: 80pt;
  padding-right: 80pt;
}
#li6 {
  padding-bottom: 20pt;
  padding-left: 80pt;
  padding-right: 80pt;
}
#p1 {
  font-family: "brush script mt";
  text-align: center;
  font-size: 32pt;
  color: whitesmoke;
}
#p2 {
  font-family: "brush script mt";
  text-align: center;
  font-size: 32pt;
  color: whitesmoke;
}
#p3 {
  font-family: "brush script mt";
  text-align: center;
  font-size: 32pt;
  color: whitesmoke;
}
footer {
background-image: url("wooden-floor-background.jpg");
background-repeat: no-repeat;
background-size: cover;
}
#p4 {
  background-color: white;
  background-size: auto;
  border-style: inset;
  border-radius: 12px;
  padding: 5pt;
}
#p5 {
  background-color: white;
  background-size: auto;
  border-style: inset;
  border-radius: 12px;
  padding: 5pt;
}
#p6 {
  background-color: white;
  background-size: auto;
  border-style: inset;
  border-radius: 12px;
  padding: 5pt;
}
input {
  width: 700px;
}
form {
  padding-left: 20px;
  padding-right: 20px;
}
p {
  color: black;
  font-family: arial;
  font-size: 18px;
  margin: 1in;

}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}
figcaption {
  font-size: 10pt;
  text-align: center;
}
#img6 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}
#img7 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img8 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img9 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img10 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img11 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img12 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img13 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img14 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}#img15 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}
li {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}
#img16 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}
#img17 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}
#img18 {
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
}
ul {
  list-style: none;
}
#a2 {
  background-color: transparent;
  padding: 0;
  color: black;
}
