header {
  background-color: lightgray;
}
#headerimage1 {
  width: 80pt;
  height: 80pt;
}
#headerimage2 {
  width: 80pt;
  height: 80pt;
}
#headerimage3 {
  width: 80pt;
  height: 80pt;
}
#headerimage4 {
  width: 80pt;
  height: 80pt;
}
#headerimage5 {
  width: 80pt;
  height: 80pt;
}
#headerimage6 {
  width: 80pt;
  height: 80pt;
}
#headerimage7 {
  width: 80pt;
  height: 80pt;
}
#headerimage8 {
  width: 80pt;
  height: 80pt;
}
body {
background-color: whitesmoke;
font-family: verdana, arial, sans-serif;
color: black;
}
h1 {
color: black;
font-family: verdana;
text-align: center;
font-size: 24pt;
}
h1.news {
  font-size: 40pt;
  font-family: serif;
  font-weight: bold;
  font-style: italic;}
h2 {
  color: darkslategrey;
  font-family: verdana;
  text-align: center;
  font-size: 18pt;
}
p {
color: darkslategrey;
font-family: verdana;
font-size: 12pt;
margin: 16pt;
}
#p {
  margin: 1pt;
  font-family: arial;
}
img {
  padding: 30pt;
  padding-bottom: 10pt;
}
#img {
  float: left;
  padding-bottom: 10pt;
}
#figure {
  float: left;
  padding-bottom: 30pt;
}
ul {
  color: darkslategrey;
  font-family: verdana;
  font-size: 12pt;
  margin: 16pt;
}
#ul {
  font-family: verdana;
  list-style-type: none;
  background-color:black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  position: sticky;
}
#list1 {
  display: inline;
  background-color: whitesmoke;
}
#list2 {
  display: inline;
  background-color: whitesmoke;
}
#list3 {
  display: inline;
  background-color: whitesmoke;
}
a {
  display: block;
  padding: 10pt;
  background-color: grey;
}
#a1 {
  font-family: verdana;
  background-color: whitesmoke;
  padding: 0;
}
#a2 {
  font-family: verdana;
  background-color: whitesmoke;
  padding: 0;
}
li a:hover {
  background-color: black;
}
figcaption {
  font-size: 10pt;
}
footer {
  font-size: 10pt;
  font-style: italic;
  position: fixed;
  bottom: 0;
}
